@font-face {
    font-family: headerfont;
    src: url(Mom«t___.ttf);
  }

html, body{
    padding:0px;
    margin:0px;
    background:#000000;
    height:100vh;
}


headertext {
  display: flex;
  position: absolute;
  top: 2.5vh; /* 2.5% der Viewport-Höhe */
  left: 2.5vw; /* 2.5% der Viewport-Breite */
  font-size: 2.5vh; /* 2.5% der Viewport-Höhe */
  font-family: headerfont;
  color: white
}

contact {
  display: flex;
  position: absolute;
  top: 2.5vh; /* 2.5% der Viewport-Höhe */
  right: 2.5vw; /* 2.5% der Viewport-Breite */
  font-size: 2.5vh; /* 2.5% der Viewport-Höhe */
  font-family: headerfont;
  color: white;
}

#contentbody {
  display: flex;
  justify-content: center; 
  position: absolute;
  align-items: center;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  max-height: 70%;
  width: 80%;
  height: 60vh;
  border-radius: 15px;
  padding-bottom: 50px;
}

.text-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 4vh;
  max-width: 40vh;
  max-height: 4vh;
  font-family: headerfont;
  color: white;
  animation-name: move-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: absolute;
  top: 5vh;
  padding-left: 0%;
}


#textcontent {
  display: flex;
  position: relative;
  margin-top: 3vh;
  font-size: 3vh;
  width: 150%;
  max-width: 100vh;
  max-height: 80vh;
  font-family: 'Segoe UI';
  color: white;
  padding-top: 10vh;
  padding-bottom: 20vh;
  margin-bottom: 20vh;
}

p {
  margin: 0px;
  padding: 0px;
}