@font-face {
    font-family: headerfont;
    src: url("Cascadia.ttf");
  }

html, body{
    padding:0px;
    margin:0px;
    background:#000000;
    height: 100vh;
}

#bgs {
  display: flex;
  width: 100;
  height: 100vh;
  position: relative;
}

headertext {
  display: flex;
  position: absolute;
  top: 2.5vh; 
  left: 2.5vw; 
  font-size: 2.5vh; 
  font-family: headerfont;
  color: white
}

contact {
  display: flex;
  position: absolute;
  top: 2.5vh; 
  right: 2.5vw; 
  font-size: 2.5vh; 
  font-family: headerfont;
  color: white;
}

#contentbody {
  display: flex;
  justify-content: center; 
  position: absolute;
  align-items: center;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  max-height: 70%;
  width: 80vmin;
  height: 60vh;
  border-radius: 15px;
  padding-bottom: 50px;
}

.text-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 0%;
  width: 100vmin;
  height: 100vmin;
  transform: translate(-50%, -50%);
  font-size: 4.5vh;
  max-width: 125vw;
  max-height: 20vh;
  font-family: headerfont;
  color: white;
  animation-name: move-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


myimg {
  display: flex;
  position: absolute;
  top: 0%;
  max-width: 25vh;
  max-height: 25vh;
  height: 100vmin;
  width: 100vmin;
  border-radius: 500px;
}

occupationtext {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  max-width: 55vh;
  max-height: 4vh;
  top: 60%;
  width: 100vmin;
  font-size: 2.5vh;
  font-family: headerfont;
  color: white;
}

.navigation {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 66%;
  max-width: 75vh;
  max-height: 10vh;
  width: 100vmin;
  height: 100vmin;
  font-size: 2.5vh;
  font-family: headerfont;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 2vw;
}


.controls button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  font-size: 2vh;
  font-family: headerfont;
}

.controls button:hover {
  background-color: #fff;
  color: #000;
}

.music-player {
  display: flex;
  position: absolute;
  top: 60vh;
}

#songTitle {
  position: absolute;
  display: flex;
  background-color: transparent;
  color: #fff;
  font-size: 2vh;
  font-family: headerfont;
  top: -5vh;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#volumeContainer {
  width: 99%;
  margin-bottom: 10px;
}

#volumeSlider {
  -webkit-appearance: none;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 5px;
  border: 1px solid white;
  background: transparent;
  outline: none;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

#volumeSlider::-ms-track {
  width: 100%;
  height: 8vmin;
  background: white;
  border: 1px solid white;
}


#bgs2 {
  display: flex;
  position: absolute;
  background-image: url("https://media.discordapp.net/attachments/1166154620792487956/1226273344823885924/FB_IMG_1709823039586.jpg?ex=66242b0c&is=6611b60c&hm=7bd9ffb36ab886e88822bc1efef04f4ca04e6efb0ac5292bd38aa971614d2136");
  opacity: 0.4;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

#textcontent {
  display: flex;
  position: relative;
  font-size: 2.5vh;
  width: 150%;
  max-width: 90vh;
  max-height: 80vh;
  font-family: headerfont;
  color: white;
  padding-top: 10vh;
  padding-bottom: 20vh;
  margin-bottom: 20vh;
}

.text-animationabout {
  position: relative;
  transform: translate(-50%, -50%); /* Um den Text absolut zentriert zu positionieren */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 4.5vh;
  max-width: 125vw;
  max-height: 20vh;
  font-family: headerfont;
  color: white;
  animation-name: move-text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-text {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}