.profile-img {
  width: 150px;     
  height: 150px;
  border-radius: 50%;    
  object-fit: cover;    
  margin: 1rem auto;    
  box-shadow: 0 0 50px rgba(0,0,0,0.3); 
}

main.center {
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  gap: 1rem;               
}
.text-animation {
    text-align: center;
    animation: move-text 2s ease-in-out infinite;
}
@keyframes move-text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.music-player {
    top: 5rem;
}

.controls button {
  border: 1px solid #fff;      /* weißer Rand */
  background-color: transparent; /* transparent innen */
  color: #fff;                  /* weißer Text */
  padding: 10px 20px;
  font-size: 2vh;
  cursor: pointer;
  transition: 0.2s;
}

.controls button:hover {
  background-color: #fff; /* Hintergrund weiß beim Hover */
  color: #000;             /* Text schwarz beim Hover */
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* damit es hinter allem anderen liegt */
  pointer-events: none; /* Klicks gehen durch */
}

